@chaerset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@font-face {
    font-family: 'FonteLogo';
    src: url(../_fonts/bubblegum-sans-regular.otf);
}

 
    p {
    text-align: justify;
    text-indent: 50px;
}

    body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3bc8eb; 
    color: rgba(0,0,0,1);
}

div#interface {
    width: 900px;
    background-color: rgb(255, 255, 255);
    margin: -20px auto 10px auto;
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 10px; 
    border-radius: 2%;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header#cabecalho img#icone {
    position: absolute;
    left: 1200px;
    top: 70px;
}

header#cabecalho {
    border-bottom: 1px #020202 solid;
    height: 150px ;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
}

header#cabecalho h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 30pt;
    color: #050505;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    color: #000000;
    font-size: 18pt;
    padding: 0px;
    margin-top: 0px;
}
/* FORMATATING PICS AND TEXTS WITH SUBTITLES*/

figure.foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
}

/* FORMATINH THE MENU */
nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 730px;
} 

nav#menu li {
    display: inline-block;
    background-color: rgb(97, 197, 243);
    padding: 10px;
    margin: 2px;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    -ms-transition: background-color 1s;
    transition: background-color 1s;
    border-radius: 5%;
}

nav#menu li:hover {
    background-color: #f3f2f2;
}

nav#menu h1 {
    display: none;
}

nav#menu a {
    color:  black;
    text-decoration: none;
}

nav#menu a:hover {
    color: rgb(14, 13, 13);
    text-decoration: underline;
}

section#corpo {
    display: block;
    width: 500px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 15px; 
}

article#noticia-principal h2 {
    font-size: 12pt;
    color: #0f0f0f;
    background-color: rgb(97, 197, 243); 
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #0f0f0f;
    margin-bottom: 0px;
    margin-top: 0px;

}

.direita {
    text-align: right;
}

header#cabecalho-artigo h2 {
    font-size: 13pt;
    color: #302e2e;
    background-color: white;
    margin: 0px;
}

header#cabecalho-artigo h3 {
    font-size: 12px;
    color: #606060;

}

table#tabelaspec {
    border: 1px solid rgb(160, 158, 158);
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#tabelaspec td {
    border: 1px solid rgb(110, 108, 108);
    padding: 10px;
    text-align: center;
    
}

table#tabelaspec td.ce {
    color: rgb(7, 7, 7);
    background-color: rgb(97, 197, 243);
    border: #3bc8eb;
    vertical-align: top;
    font-weight: bold;
}

table#tabelaspec td.cd {
    background-color: rgb(177, 224, 233);  
}

table#tabelaspec caption{
    color: rgb(15, 15, 15);
    font-size: 13pt;
    font-weight: bolder;
}

table#tabelaspec caption span {
    display: block;
    float: right;
    color: #000000;
    font-size: 8pt;
    margin-top: 10px;
}

aside#Lateral {
    display: block;
    width: 350px;
    float: right;
    background-color: rgb(185, 230, 241);
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
    border-radius: 5%;
}

aside#Lateral h1 {
    font-family: 'FonteLogo', sans-serif ;
    font-size: 20pt;
    color: #000000;
    margin-top: 0px;
}

aside#Lateral h2 {
    background-color: rgb(139, 213, 247);
    font-size: 15pt;
    color: #000000;
    padding: 4px;
}

footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
}

footer#rodape p {
    text-align: center;
    font-weight: bold;
}




